.home-container {
  background-color: #152850;
  height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 100px;
}

.logout-btn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 8px 15px;
  border-radius: 3px;
  cursor: pointer;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.home-heading {
  font-size: 60px;
  color: white;
  font-family: 'Roboto';
  font-weight: bold;
}
